.grid-wrapper {
    height: 100vh;
    background-color: gray;
    padding-left: 200px;
    position: relative;
}

.sidenav-container {
    background-color: darkorange;
    height: 100vh;
    top: 60px;
    left: 0;
    position: absolute;
    width: 200px;
}

.toolbar-container {
    background-color: aquamarine;
    height: 60px;
}